header{
    background-color: brown;
}
.productos{
    border: solid 1px black;
    display: inline;
    margin: 10px;
    padding: 10px;
    background-color: brown;
}
h2{
    margin: 5px;
    text-align: center;
    background-color: darkred;

}
p{
    text-align: center;
}

a{
    margin: 6px;
}
main{
    display: flex;
}
body{
    background-color: darkgrey;
}
